/* Made by Neel 27/12/2022 */

.post-border {
  background: var(--gradient);
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px;
  border: 2px solid var(--purple);
  margin: 40px auto;
}

.post {

  background-color: white;
  border: 2px solid var(--purple);
  border-radius: 20px;
  padding-top: 20px;
  position: relative;
}

.postImg {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;

}


@media screen and (max-width:1100px) {
  img {
    width: 200px;
  }

  .caption {
    width: 200px;
  }

  .buttons {
    text-align: right;
    position: absolute;
    bottom: -30px;
    left: 170px
  }

  .heart {
    width: 20px;
    height: 25px;
    fill: white;
    display: block;
    margin-bottom: 10px;
  }

  .comment {
    width: 20px;
    height: 20px;
    fill: white;
    display: block;
    margin-bottom: 25px;
  }

  .bookmark {
    width: 20px;
    height: 16px;
    fill: white;
    display: block;
  }
}

@media screen and (min-width:600px) {
  img {
    width: 400px;
  }

  .caption {
    width: 400px;
  }

  .buttons {
    text-align: right;
    position: absolute;
    bottom: -35px;
    left: 355px
  }

  .heart {
    width: 31px;
    height: 34px;
    fill: white;
    display: block;
    margin-bottom: 10px;
  }

  .comment {
    width: 31px;
    height: 31px;
    fill: white;
    display: block;
    margin-bottom: 25px;
  }

  .bookmark {
    width: 31px;
    height: 26px;
    fill: white;
    display: block;
  }
}

a {
  color: var(--darkpurple);
}

a:hover {
  color: var(--purple);
}

img {
  border-radius: 10px;
}

.caption {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  text-align: left;
}

.pfp-post {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  margin-right: 3px;
}