@import "../root.css";

.newpost-margin {
  margin: 200px;
}

.newpost-border {
  max-width: fit-content;
  padding: 10px;
  margin: auto;
}

.newpost {
  border-radius: 20px;
  position: relative;
}

.newpostImg {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}

#imageLoader {
  text-align: center;
  border: dashed 3px var(--purple);
  border-radius: 10px;
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5em;
  cursor: pointer;
}

.post-btn {
  font-size: 30px;
  font-weight: bolder;
  width: 4em;
  margin-top: 30px;
  cursor: pointer;


}

.caption-txtbox {
  resize: none;
  padding: 12px 20px;
  height: 4em;

}

.newpost-caption {
  margin-top: 10px;
  text-align: left;
  width: 400px;
}