/* nav,
header {
  visibility: hidden;
} */
@import "../root.css";

#login-page {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  background-image: radial-gradient(100% 98.2% at 0% 1.8%, #ADF0FF 0%, #F5D1A7 100%);
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

h4 {
  font-family: 'Chewy';
  font-style: lighter;
  font-size: 94px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(45, 121, 137, 0.4);
  margin-bottom: 40px;
}


.login-form input,
.signup-form input {
  display: block;
  margin: 50px auto;
}

.input-short input {
  margin: 0;
}


.login-background,
.signup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding: 10px;
  border-radius: 40vh;
}

.login-background {
  margin: auto;
}

.signup-background {
  background-image: radial-gradient(100% 98.2% at 0% 1.8%, #C9C2F7 0%, #C4EEF8 100%);
  position: absolute;
  top: calc(100vh - 150px);
  padding-bottom: 40px;
}

.login,
.signup {
  width: 65%;
}

.input-short {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

#login-page input[type="text"],input[type="password"] {
  height: 25px;
}

#login-page input[type="submit"] {
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 0.8em;
  text-shadow: 0 2px 2px var(--shadowBlue);
  padding: 8px 40px;
}

.extra-login-options {
  display: flex;
  gap: 40px;
  justify-content: center;
  color: var(--darkpurple);
}

.extra-login-options .nav-icon {
  min-width: 40px;
  min-height: 40px;
}

.home {
  min-width: 50px;
  min-height: 50px;
  opacity: 75%;
  margin: 20px;
}