/* Made by Aashna, Neel, Amilesh 27/12/2022 */
@import "root.css";

header {
  position: fixed;
  background: radial-gradient(100% 100% at 0% 0%, #ADF0FF 0%, rgba(173, 240, 255, 0) 82.81%), radial-gradient(100% 100% at 100% 8.56%, #FFBB6A 0%, rgba(255, 187, 106, 0) 81.25%);
  width: 100%;
  height: 200px;
  text-align: right;
}

h1 {
  color: white;
  font-family: 'Chewy', cursive;
  font-weight: lighter;
  font-size: 50px;
  margin: 20px;
}

.who-to-follow {
  padding: 1rem;
  float: right;
  background: var(--gradient);
  border-radius: 20px;
  line-height: 30px;
  position: fixed;
  top: 9em;
  right: 20px;
  width: 15rem;
  min-height: 15rem;
}

.trending {
  padding: 1rem;
  float: right;
  background: var(--gradient);
  border-radius: 20px;
  line-height: 30px;
  position: fixed;
  top: 30em;
  right: 20px;
  width: 15rem;
  min-height: 15rem;
}

@media screen and (max-width:1100px) {
  .who-to-follow {
    visibility: hidden;
  }

  .trending {
    visibility: hidden;
  }

}

nav {
  position: fixed;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: #ffffff48;
  box-shadow: 4px 0px 10px rgba(45, 121, 137, 0.19);
  border-radius: 0px 40px 40px 0px;
}

h3 {
  margin-bottom: 15px;
}

.feed {
  padding-top: 144px;
}