@import "root.css";

form {
  all: unset;
  position: flex;
  align-items: center;
  height: 100vh;
  display: grid;
  grid-template: 1.2fr repeat(4, 1fr) 0.7fr/ 1fr ;
  width: 100px;
  position: absolute;
  bottom: 0px;
}

form div {
    display: flex;
    align-items: center;

}

input {
  width: 70px;
  height: 70px;
  position: fixed;
  opacity: 0%;
}

form img{
  width: 50px;
}

