/* Made by Neel 27/12/2022 */
.post {
    border-width: 20px;
    border-radius: 20px;
    margin-bottom: fit-content;
    padding: 20px;
    max-width: 400px;
    position: relative;
    left: 200px;
    /*border-color: radial-gradient(100% 98.4% at 0% 1.8%, rgba(195, 188, 240, 0.5) 0%, rgba(173, 240, 255, 0.5) 48.44%, rgba(245, 209, 167, 0.5) 100%);  */
    background-color: var(--purple)
  }

.postImg {
    border-radius:10px;
    margin: 20px;
  }
  
.caption {
    padding: 1rem;
  }

.pfp-post{
    vertical-align: text-bottom;
    width:35px;
    height:35px;
    float: left;
    border-radius: 50%;
    border: 2px solid var(--purple);
    margin-right: 3px;
  }