@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --shadowBlue: rgba(45, 121, 137, 0.19);
    --gradient: radial-gradient(100% 98.4% at 0% 1.8%, rgba(173, 240, 255, 0.5) 30%, rgba(245, 209, 167, 0.5) 100%);
    --purple: #c3bcf0;
    --darkpurple: #7c77a0;
}

* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.gradient-border {
    background: var(--gradient);
    border-radius: 20px;
    max-width: fit-content;
    padding: 12px;
    border: 2px solid var(--purple);
}

.internal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-radius: 20px;
    border: 2px solid var(--purple);
}

input[type="text"],input[type="password"],textarea {
    letter-spacing: 1px;
    width: calc(100% - 30px);
    border: unset;
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 14px;
}

input[type="text"]:focus,textarea:focus {
    outline: unset;
    outline: 1px solid var(--purple);
}

.dark-btn {
    border: none;
    background: linear-gradient(93.9deg, #c3bcf0 0%, #7ce7ff 100%);
    box-shadow: 0px 4px 4px var(--shadowBlue);
    border-radius: 40px;
}

.light-btn {
    border: none;
    background: linear-gradient(93.9deg, #7CE7FF 0%, #FFBB6A 100%);
    box-shadow: 0px 4px 4px var(--shadowBlue);
    border-radius: 40px;
}